@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.offer-message {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
}

.offer-message span {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 2px 11px;
}

.offer-message p {
  word-spacing: 2px;
}

ul {
  list-style: none;
}

nav {
  background-color: rgb(235, 235, 235);
}

nav img {
  height: 25px;
  width: 25px;
  opacity: 60%;
}

.first-nav p {
  opacity: 60%;
  margin-left: 80px;
}

.first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.first-nav li a {
  text-decoration: none;
  color: black;
  opacity: 60%;
}

.first-nav ul {
  display: flex;
  padding-right: 80px;
}

.first-nav li {
  margin: 0 10px;
  justify-content: space-around;
}

.second-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-container {
  flex: 0 2 50%;
}

.second-nav h4 {
  margin: 0 80px;
  border-right: solid 2px lightgrey;
  height: 40px;
  padding: 5px 25px;
  flex: 0 0 10%;
  /* background-color: red; */
}

.second-nav ul {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  border: solid 1px lightgray;
  padding: 5px 15px;
  border-radius: 30px;
  max-width: 150px;
  margin-left: auto;
  margin-right: 0;
}

.second-nav ul img {
  height: 25px;
  width: auto;
  position: relative;
  top: 3px;
}

.profile {
  display: flex;
  flex: 0 0 15%;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.profile img {
  height: 35px;
  width: auto;
  border-radius: 20px;
  padding: 2px;
  border: 1px solid lightgray;
}

.second-nav button {
  background-color: black;
  color: white;
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 10px;
  width: 118px;
  padding: 8px 0;
}

.button-wrap {
  flex: 0 0 15%;
}
